* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(0, 0, 128, 0.42);
}

.App {
  text-align: center;
}

.title {
  position: relative;
  margin-block: 20px;
}

/* Home Section Start*/

.home {
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translatey(-50%);
  text-align: left;
  background-color: #cad9ff17;
  box-shadow: 0px 0px 50px 0px teal;
  padding: 10px;
  border-radius: 20px;
}

/* Home Section End*/

/* Quran Section Start */

.playSurah {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  margin-block: 20px;
}

@media (max-width: 900px) {
  .playSurah {
    flex-direction: column-reverse;
  }
  #playList {
    flex-direction: column;
  }
}

/* Quran Section End */

.Link {
  position: fixed;
  color: navajowhite;
  width: 40px !important;
  height: 40px !important;
  border-radius: 15px;
  bottom: 50px;
  right: 50px;
  background-color: rgb(18, 83, 162);;
  transition: 1s !important;
  cursor: pointer;
}

.title h2 {
  font-size: 35px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.cardContent {
  padding: 0 !important;
}
.cardMedia {
  transition: 0.5s;
}
.cardMedia:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
  overflow: hidden;
}
@media (max-width: 650px) {
  .title h2 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .title h2 {
    font-size: 25px;
  }
}

@font-face {
  font-family: Merhey;
  src: url("../public/fonts/Merhey/Marhey-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Merhey;
  src: url("../public/fonts/Merhey/Marhey-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Merhey;
  src: url("../public/fonts/Merhey/Marhey-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Merhey;
  src: url("../public/fonts/Merhey/Marhey-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Merhey;
  src: url("../public/fonts/Merhey/Marhey-Light.ttf");
  font-weight: 400;
}
