/* .left div {
  width: 30%;
} */

.icons {
  display: flex;
  justify-content: space-around;
  padding-block: 10px;
  width: 250px;
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-block: 20px;
  align-items: center;
  direction: ltr;
}

.right,
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right p {
  text-align: justify;
  padding-bottom: 10px;
}
.icon {
  color: white;
}

.footer ul {
  display: flex;
  justify-content: space-evenly;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

input {
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
input:focus {
  outline: none;
  border: 2px solid rgba(62, 62, 121, 0.528);
}
input {
  caret-color: #aaa;
}
input::placeholder {
  color: #ccc;
}

@media (max-width: 900px) {
  .left div {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icons {
    width: 100%;
  }
  input {
    width: 70%;
  }
  .right p {
    padding-block: 10px;
    text-align: center;
  }
}
